@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
  height: 100%;
  overflow-y: auto;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  position: relative;
  height: 100vh;
}

.background-with-clouds {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.cloud {
  position: absolute;
  width: 8%;
  animation: moveCloud linear infinite;
  left: -10%;
}

.content {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}
