@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
}
 
.container {
  max-width: 1080px;
  margin: 20px auto;
  height: 100vh;
  position: relative;
}
 
.background-with-clouds {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

 
@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
 
.cloud {
  position: absolute;
  width: 100%;
  height: 100px;
  animation: moveCloud linear infinite;
  left: 0;
}

 
.content {
  position: relative;
  z-index: 1;
}
